# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
spotify_data.csv

# Outputs and models
outputs/
*.keras
*.h5
*.png
*.jpg
